<main id="main" class="main">
  <div class="pagetitle">
    <h1>Customer Details</h1>
    <nav>
      <ol class="breadcrumb" style="cursor: pointer">
        <li class="breadcrumb-item">
          <a routerLink="/admin/customers">Customers</a>
        </li>

        <li class="breadcrumb-item active">
          {{ user.firstName }} {{ user.lastName }} Details
        </li>
      </ol>
    </nav>
  </div>
  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">
        <div class="card">
          <div
            class="card-body profile-card pt-4 d-flex flex-column align-items-center"
          >
            <!-- Display image, or a placeholder image if imageUrl is null -->
            <img
              [src]="
                imageUrl
                  ? _sanitizer.bypassSecurityTrustUrl(imageUrl)
                  : '/assets/img/admin.png'
              "
              class="img"
            />
            <div>...</div>

            <h2>User</h2>
            <div></div>
            <span class="badge status-verified"> Verified </span>
            <div   style="-webkit-margin-bottom-collapse: 32px;" class="social-links mt-2">
              <a
                style="cursor: pointer; font-size: 32px;"
                class="front"
                (click)="viewIdDocument(0)"
                data-bs-toggle="modal"
                data-bs-target="#verticalycentered"
                ><i class="bx bxs-speaker"></i
              ></a>
              <a
              style="cursor: pointer; font-size: 32px;"
                class="back"
                (click)="viewIdDocument(1)"
                data-bs-toggle="modal"
                data-bs-target="#verticalycentered"
                ><i class="bx bx-barcode"></i
              ></a>

              <a  style="cursor: pointer; font-size: 32px;"class="linkedin"
                ><i class="bx bxs-file-pdf"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-8">
        <div class="card">
          <div class="card-body pt-3">
            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item">
                <button
                  class="nav-link active"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-overview"
                >
                  Overview
                </button>
              </li>
              <li class="nav-item">
                <button
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-edit"
                >
                  Bio-data
                </button>
              </li>
              <li class="nav-item">
                <button
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-settings"
                >
                  Document
                </button>
              </li>
              <li class="nav-item">
                <button
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-change-password"
                >
                  Security
                </button>
              </li>
              <li class="nav-item">
                <button
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#profile-change-edit"
                >
                  Limits
                </button>
              </li>
              <li class="nav-item">
                <button
                  class="nav-link"
                  data-bs-toggle="tab"
                  data-bs-target="#customer-actions"
                >
                  Actions
                </button>
              </li>
            </ul>
            <div class="tab-content pt-2">
              <!-- Overview -->
              <div
                class="tab-pane fade show active profile-overview"
                id="profile-overview"
              >
                <div>...</div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Cutomer ID</div>
                  <div class="col-lg-9 col-md-8">
                    {{ id }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Full Name</div>
                  <div class="col-lg-9 col-md-8">
                    {{ user.firstName }} {{ user.lastName }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Date Of Birth</div>
                  <div class="col-lg-9 col-md-8">{{ user.dateOfBirth }}</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Registration Date</div>
                  <div class="col-lg-9 col-md-8">
                    {{ getDate | date : "dd-MMMM-yyyy h:mm:ss a" }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Country</div>
                  <div class="col-lg-9 col-md-8">{{ user.country }}</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Address</div>
                  <div class="col-lg-9 col-md-8">{{ userData.address1===null||undefined?'loading...':userData.address1 }}</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Phone</div>
                  <div class="col-lg-9 col-md-8">{{ user.phone }}</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{ user.email }}</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Stellar Address</div>
                  <div class="col-lg-9 col-md-8">
                    {{ user.stellar_address }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Bank Name</div>
                  <div class="col-lg-9 col-md-8">
                    {{ user.firstName }} 
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Bank Account</div>
                  <div class="col-lg-9 col-md-8">
                    {{ user.firstName }} 
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Device Type</div>
                  <div class="col-lg-9 col-md-8">
                    {{ user.deviceInfo }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Account Status</div>
                  <div class="col-lg-9 col-md-8">
                    <span
                      class="badge {{
                        isAccountActive ? 'status-verified' : 'status-invalid'
                      }}"
                    >
                      {{ isAccountActive ? "Verified" : "Not Verified" }}
                    </span>
                  </div>
                </div>
              </div>
              <!-- BIO data -->
              <div class="tab-pane fade pt-3" id="profile-edit">
                <div
                  class="tab-pane fade show active profile-overview"
                  id="profile-overview"
                >
                  <div>...</div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Full Name</div>
                    <div class="col-lg-9 col-md-8">
                      {{ facePhiCollection.FirstName }}
                      {{ facePhiCollection.LastName }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Date Of Birth</div>
                    <div class="col-lg-9 col-md-8">{{ user.dateOfBirth }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Gender</div>
                    <div class="col-lg-9 col-md-8">
                      {{ facePhiCollection.Gender }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Registration Date</div>
                    <div class="col-lg-9 col-md-8">
                      {{ getDate | date : "dd-MMMM-yyyy h:mm:ss a" }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Country</div>
                    <div class="col-lg-9 col-md-8">{{ user.country }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Address</div>
                    <div class="col-lg-9 col-md-8">{{ userData.address1 }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div class="col-lg-9 col-md-8">{{ user.phone }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{ user.email }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Stellar Address</div>
                    <div class="col-lg-9 col-md-8">
                      {{ user.stellar_address }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Occupation</div>
                    <div class="col-lg-9 col-md-8">
                      <span
                        class="badge {{
                          userKyc.occupation
                            ? 'status-verified'
                            : 'status-invalid'
                        }}"
                      >
                        {{ userKyc.occupation ? "Available" : "Not Available" }}
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">
                      Birth Country Code
                    </div>
                    <div class="col-lg-9 col-md-8">
                      <div class="col-lg-9 col-md-8">
                        <span
                          class="badge {{
                            userKyc.birth_country_code
                              ? 'status-verified'
                              : 'status-invalid'
                          }}"
                        >
                          {{
                            userKyc.birth_country_code
                              ? "Available"
                              : "Not Available"
                          }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Document -->
              <div class="tab-pane fade pt-3" id="profile-settings">
                <div
                  class="tab-pane fade show active profile-overview"
                  id="profile-overview"
                >
                  <div>...</div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Type Of ID</div>
                    <div class="col-lg-9 col-md-8">{{ userKyc.idType }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">
                      Back Document Image
                    </div>
                    <div class="col-lg-9 col-md-8">
                      <div *ngIf="userData.backDocumentImage">
                        <a>Available </a>
                      </div>
                      <ng-template *ngIf="!userData.backDocumentImage">
                        <p>Not Available</p>
                      </ng-template>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">
                      Front Document Image
                    </div>
                    <div class="col-lg-9 col-md-8">
                      <div *ngIf="userData.frontDocumentImage">
                        <a>Available </a>
                      </div>
                      <ng-template *ngIf="!userData.frontDocumentImage">
                        <p>Not Available</p>
                      </ng-template>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">
                      ID Expiration Date
                    </div>
                    <div class="col-lg-9 col-md-8">
                      {{ facePhiCollection.DateOfExpiry }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Document Captured</div>
                    <div class="col-lg-9 col-md-8">
                      {{ facePhiCollection.DocumentCaptured }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Document Number</div>
                    <div class="col-lg-9 col-md-8">
                      {{ facePhiCollection.DocumentNumber }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Date Of Issue</div>
                    <div class="col-lg-9 col-md-8">
                      {{ facePhiCollection.DateOfExpiry }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Stellar Address</div>
                    <div class="col-lg-9 col-md-8">
                      {{ user.stellar_address }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">FCM Token</div>
                    <div class="col-lg-9 col-md-8">
                      {{ userKyc.fcmToken }}
                    </div>
                  </div>
                </div>
              </div>
              <!-- Security -->
              <div class="tab-pane fade pt-3" id="profile-change-password">
                <div
                  class="tab-pane fade show active profile-overview"
                  id="profile-overview"
                >
                  <div>...</div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Biometric Login</div>
                    <div class="col-lg-9 col-md-8">
                      <div class="col-lg-9 col-md-8">
                        <span
                          class="badge {{
                            userData.biometricLogin
                              ? 'status-verified'
                              : 'status-invalid'
                          }}"
                        >
                          {{
                            userData.biometricLogin
                              ? "Available"
                              : "Not Available"
                          }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">
                      Email Verification
                    </div>
                    <div class="col-lg-9 col-md-8">
                      <span
                        class="badge {{
                          userData.emailVerified
                            ? 'status-verified'
                            : 'status-invalid'
                        }}"
                      >
                        {{ userData.emailVerified ? "True" : "False" }}
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Checkbook Linked</div>
                    <div class="col-lg-9 col-md-8">
                      <span
                        class="badge {{
                          userKyc.isCheckbookLinked
                            ? 'status-verified'
                            : 'status-invalid'
                        }}"
                      >
                        {{ userKyc.isCheckbookLinked ? "True" : "False" }}
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">
                      Phone Verification
                    </div>
                    <div class="col-lg-9 col-md-8">
                      <span
                        class="badge {{
                          userData.phoneVerified
                            ? 'status-verified'
                            : 'status-invalid'
                        }}"
                      >
                        {{ userData.phoneVerified ? "True" : "False" }}
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">
                      Authentication Type
                    </div>
                    <div class="col-lg-9 col-md-8">
                      {{ userKyc.authType }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">USDO Balance</div>
                    <div class="col-lg-9 col-md-8">
                      {{userData.balances.usdo==null||undefined ? '0'
                      : userData.balances.usdo }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">XLM Balance</div>
                    <div class="col-lg-9 col-md-8">
                      {{ userData.balances.xlm }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Refferal Code</div>
                    <div class="col-lg-9 col-md-8">
                      <div *ngIf="userKyc.myReferralCode; else elseblock">
                        {{ userKyc.myReferralCode }}
                      </div>
                      <ng-template #elseblock>
                        <p>Not Available</p>
                      </ng-template>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">KYC Status</div>
                    <div class="col-lg-9 col-md-8">
                      <span
                        class="badge {{
                          userKyc.kycStatus
                            ? 'status-verified'
                            : 'status-invalid'
                        }}"
                      >
                        {{ userKyc.kycStatus ? "Verified" : "Not Verified" }}
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">
                      Time-out Notification
                    </div>
                    <div class="col-lg-9 col-md-8">
                      <div class="col-lg-9 col-md-8">
                        <span
                          class="badge {{
                            userData.sessionTimeoutNotification
                              ? 'status-verified'
                              : 'status-invalid'
                          }}"
                        >
                          {{
                            userData.sessionTimeoutNotification
                              ? "Available"
                              : "Not Available"
                          }}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Session Time-out</div>
                    <div class="col-lg-9 col-md-8">
                      <span
                        class="badge {{
                          userData.sessionTimeout
                            ? 'status-verified'
                            : 'status-invalid'
                        }}"
                      >
                        {{
                          userData.sessionTimeout
                            ? "Available"
                            : "Not Available"
                        }}
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Max Deposit</div>
                    <div class="col-lg-9 col-md-8">
                      <span> {{ user.maximumDeposit }} </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Max withdrawal</div>
                    <div class="col-lg-9 col-md-8">
                      <span> {{ user.maximumWithdrawal }} </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Max Payment</div>
                    <div class="col-lg-9 col-md-8">
                      <span> {{ user.maximumPayment }} </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Device Type</div>
                    <div class="col-lg-9 col-md-8">
                      <span> {{user.deviceInfo}}</span>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Limits-->
              <div class="tab-pane fade pt-3" id="profile-change-edit">
                <div
                  class="tab-pane fade show active profile-overview"
                  id="profile-overview"
                >
                  <div>...</div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Max Deposit</div>
                    <div class="col-lg-9 col-md-8">
                      <span> {{ user.maximumDeposit }} </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Max withdrawal</div>
                    <div class="col-lg-9 col-md-8">
                      <span> {{ user.maximumWithdrawal }} </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Max Payment</div>
                    <div class="col-lg-9 col-md-8">
                      <span> {{ user.maximumPayment }} </span>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Actions -->
              <div class="tab-pane fade pt-3" id="customer-actions">
                <div
                  class="tab-pane fade show active profile-overview"
                  id="profile-overview"
                >
                  <div>...</div>

                  <form
                    [formGroup]="statusForm"
                    class="needs-validation"
                    (ngSubmit)="onSubmit()"
                  >
                    <div class="row g-3">
                      <div class="col-lg-3 col-md-4 label">Account Status</div>
                      <div class="col-lg-9 col-md-8">
                        <div class="form-check form-switch">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="flexSwitchCheckChecked"
                            [checked]="isAccountActive"
                            (change)="isAccountActive = !isAccountActive"
                          />
                          <label
                            class="form-check-label"
                            for="flexSwitchCheckChecked"
                          >
                            {{
                              isAccountActive ? "Active" : "Deactivated"
                            }}</label
                          >
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="mb-3">
                          <label for="validationCustom01">Reason</label>
                          <input
                            type="text"
                            class="form-control"
                            id="validationCustom01"
                            formControlName="reason"
                            placeholder="Reason"
                            [ngClass]="{
                              'is-invalid':
                                submitted && statusF['reason'].errors
                            }"
                          />
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="mb-3">
                          <label for="validationCustom01">Max. Deposit</label>
                          <input
                            type="text"
                            class="form-control"
                            id="validationCustom01"
                            formControlName="maximumDeposit"
                            placeholder="Max. Deposit"
                            [ngClass]="{
                              'is-invalid':
                                submitted && statusF['maximumDeposit'].errors
                            }"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-4">
                        <div class="mb-3">
                          <label for="validationCustom01"
                            >Max. Withdrawal</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="validationCustom01"
                            formControlName="maximumWithdrawal"
                            placeholder="Max.Withdrawal"
                            [ngClass]="{
                              'is-invalid':
                                submitted && statusF['maximumWithdrawal'].errors
                            }"
                          />
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="mb-3">
                          <label for="validationCustom01">Max. Payment</label>
                          <input
                            type="text"
                            class="form-control"
                            id="validationCustom01"
                            formControlName="maximumPayment"
                            placeholder="Max.Payment"
                            [ngClass]="{
                              'is-invalid':
                                submitted && statusF['maximumPayment'].errors
                            }"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="mb-6">
                        <button type="submit" class="btn btn-primary w-md">
                          Update
                        </button>

                        <button
                          type="button"
                          style="margin-left: 20px"
                          class="btn btn-danger w-md"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </form>
                  <!--Loader Div Starts-->
                  <div
                    class="spinner-grow text-primary"
                    style="width: 3rem; height: 3rem"
                    role="status"
                    *ngIf="loader"
                    [ngClass]="{ 'd-none': !loader }"
                  >
                    <span>Loading...</span>
                  </div>
                  <!--Loader Div Ends-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<div class="modal fade" id="verticalycentered" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">View Customer Identification Card</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <img
              style="width: 740px"
              [src]="
                docImageUrl
                  ? docImageUrl
                  : '/assets/img/admin.png'
              "
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
