<main id="main" class="main">
  <div class="pagetitle">
    <div class="row">
      <div class="col">
        <h1>Drug Store</h1>
      </div>
      <div class="col search-trans">
        <div class="input-group mb-0">
          <input
            type="text"
            class="form-control"
            placeholder="Search for drug"
            aria-label="Search for drug"
            (input)="searchDrug()"
            [(ngModel)]="searchTerm"
          />
          <div
            class="text-center text-primary"
            style="margin-top: 10px; margin-right: 15px"
          >
            <i class="bi bi-search text-primary"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section dashboard">
    <div class="col-lg-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
            <li class="nav-item flex-fill" role="presentation">
              <button
                class="nav-link w-100 active"
                id="home-tab"
                data-bs-toggle="tab"
                data-bs-target="#home-justified"
                type="button"
                role="tab"
                aria-controls="home"
                aria-selected="true"
              >
                All
              </button>
            </li>
            <!-- <li class="nav-item flex-fill" role="presentation">
              <button
                class="nav-link w-100"
                id="category-tab"
                data-bs-toggle="tab"
                data-bs-target="#category-justified"
                type="button"
                role="tab"
                aria-controls="category"
                aria-selected="false"
              >
                Category
              </button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
              <button
                class="nav-link w-100"
                id="company-tab"
                data-bs-toggle="tab"
                data-bs-target="#company-justified"
                type="button"
                role="tab"
                aria-controls="company"
                aria-selected="false"
              >
                Company
              </button>
            </li> -->
            <li class="nav-item flex-fill" role="presentation">
              <button
                class="nav-link w-100"
                id="add-tab"
                data-bs-toggle="tab"
                data-bs-target="#add-justified"
                type="button"
                role="tab"
                aria-controls="add"
                aria-selected="false"
              >
                Add Drug
              </button>
            </li>
          </ul>
          <div class="tab-content pt-2" id="myTabjustifiedContent">
            <div
              class="tab-pane fade show active"
              id="home-justified"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <!-- Table-->
              <div class="row">
                <div class="col-lg-0">
                  <div class="row">
                    <div class="col-12">
                      <div class="card top-selling overflow-auto">
                        <div class="card-body pb-0 text-center">
                         

                          <table class="table dataTable-table">
                            <thead>
                              <tr>
                                <th
                                  scope="col"
                                  class="text-center"
                                  style="
                                    cursor: pointe;
                                    color: #06b1cf;
                                    font-weight: 400;
                                  "
                                ></th>
                                <th
                                  scope="col"
                                  class="text-center"
                                  style="
                                    cursor: pointe;
                                    color: #06b1cf;
                                    font-weight: 400;
                                  "
                                >
                                  s/n
                                </th>
                                <th
                                  scope="col"
                                  class="text-center"
                                  style="
                                    cursor: pointe;
                                    color: #06b1cf;
                                    font-weight: 400;
                                  "
                                >
                                  Date <i class="bi bi-chevron-expand"></i>
                                </th>
                                <th
                                  scope="col"
                                  id="name-header"
                                  style="
                                    cursor: pointe;
                                    color: #06b1cf;
                                    font-weight: 400;
                                  "
                                  class="text-center"
                                >
                                  Name <i class="bi bi-chevron-expand"></i>
                                </th>
                                <th
                                  scope="col"
                                  id="name-header"
                                  style="
                                    cursor: pointe;
                                    color: #06b1cf;
                                    font-weight: 400;
                                  "
                                  class="text-center"
                                >
                                  Manufacturer
                                  <i class="bi bi-chevron-expand"></i>
                                </th>

                                <th
                                  scope="col"
                                  style="
                                    cursor: pointe;
                                    color: #06b1cf;
                                    font-weight: 400;
                                  "
                                  class="text-center"
                                >
                                  Category<i class="bi bi-chevron-expand"></i>
                                </th>
                                <th
                                  scope="col"
                                  style="
                                    cursor: pointe;
                                    color: #06b1cf;
                                    font-weight: 400;
                                  "
                                  class="text-center"
                                >
                                  Dosage
                                  <i class="bi bi-chevron-expand"></i>
                                </th>

                                <th
                                  scope="col"
                                  style="
                                    cursor: pointe;
                                    color: #06b1cf;
                                    font-weight: 400;
                                  "
                                  class="text-center"
                                >
                                  Price
                                  <i class="bi bi-chevron-expand"></i>
                                </th>
                                <th
                                  scope="col"
                                  style="
                                    cursor: pointe;
                                    color: #06b1cf;
                                    font-weight: 400;
                                  "
                                  class="text-center"
                                >
                                  PackSize<i class="bi bi-chevron-expand"></i>
                                </th>
                              </tr>
                            </thead>

                            <tbody class="tb text-center">
                              <tr
                                *ngFor="
                                  let drugItem of filteredDrugsList;
                                  let i = index
                                "
                                (click)="showInfo(i)"
                                style="cursor: pointer"
                              >
                                <td>
                                  <a class="logo">
                                    <img [src]="drugItem.imageurl" alt=""
                                  /></a>
                                </td>
                                <td class="table-body text-center">
                                  {{ i + 1 }}
                                </td>
                                <td class="table-body text-center">
                                  {{
                                    drugItem.created_at
                                      | date :  "d-MMMM-yyyy h:mm a"
                                  }}
                                </td>
                                <td class="table-body text-center">
                                  {{ drugItem.productname }}
                                </td>
                                <td class="table-body text-center">
                                  {{ drugItem.companyname }}
                                </td>
                                <td class="table-body text-center">
                                  {{ drugItem.category }}
                                </td>
                                <td class="table-body text-center">
                                  {{ drugItem.dosageform }}
                                </td>
                                <td class="table-body text-center">
                          
                                  {{ drugItem .price | currency:'NGN':'symbol-narrow'}} 
                                </td>
                                <td class="table-body text-center">
                                  {{ drugItem.packsize }}
                                </td>
                              </tr>
                              <!-- Display this text if requestUpdate is empty -->
                            </tbody>
                          </table>
                          <div *ngIf="filteredDrugsList.length === 0" class="flex items-center justify-center h-full">
                            <img src="assets/img/loading.gif" class="img" alt="" />
                            <p class="ml-2">loading Store Items.</p>
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <!-- Table End-->
          <div
            class="tab-pane fade show active"
            id="add-justified"
            role="tabpanel"
            aria-labelledby="add-tab"
            
            >
<p>trutyfyu</p>
           

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
