<aside id="sidebar" class="sidebar"  style="cursor: pointer">
    <ul class="sidebar-nav" id="sidebar-nav">
       <li class="nav-item"> <a class="nav-link "  routerLink="/admin" > <i class="bi bi-grid"></i> <span>Dashboard</span> </a></li>
       <li class="nav-item"> <a class="nav-link " routerLink="/admin/customers"> <i class="bi bi-person-bounding-box"></i> <span>Customers</span> </a></li>
       <li class="nav-item"> <a class="nav-link " routerLink="/admin/requests"> <i class="bi bi-file-text"></i> <span>Requests</span> </a></li>
   
       <li class="nav-item"> <a class="nav-link " routerLink="/admin/store"> <i class="bi bi-journal-check"></i> <span>Drug Store</span> </a></li>
    
       <li class="nav-item"> <a class="nav-link " routerLink="/admin/error404"> <i class="bi bi-box-arrow-down"></i> <span>Payments</span> </a></li>
       <li class="nav-item"> <a class="nav-link " routerLink="/admin/pharmacies"> <i class="bi bi-send"></i> <span>Pharmacies</span> </a></li>
       <li class="nav-item"> <a class="nav-link " routerLink="/admin/coverage"> <i class="bi bi-globe"></i> <span>Coverage Area</span> </a></li>
       <li class="nav-item">
         <a class="nav-link" data-bs-target="#tables-nav" data-bs-toggle="collapse" > <i class="bi bi-gear"></i><span>Settings</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="tables-nav" class="nav-content" data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/admin/settings-iam"> <i class="bi bi-circle" ></i><span>Identity Access Management</span> </a></li>
         </ul>
      </li>


    </ul>
 </aside>