<main id="main" class="main">
  <div class="pagetitle">
    <div class="row">
      <div class="col" style="cursor: pointer">
        <h1>Request</h1>
      </div>
      <div class="col search-trans">
        <div class="input-group mb-0">
          <input
            type="text"
            class="form-control"
            placeholder="Search transactions"
            aria-label="Search transactions"
            [(ngModel)]="searchTerm"
            (click)="searchTransactions()"
          />
          <div class="text-center text-primary" style="margin-top: 10px;margin-right: 15px;">
            <i class="bi bi-search"></i
              >
          </div>
         
        </div>
      </div>
    </div>
  </div>
  <div class="filter">
    <a class="icon" href="#" data-bs-toggle="dropdown">
      <i class="bi bi-funnel-fill"> Filter Transactions</i>
    </a>
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
      <li class="dropdown-header text-start">
        <h6>Filter</h6>
      </li>
      <li>
        <a class="dropdown-item" (click)="filterTransactionsByDays(30)">
          Last 30 Days
        </a>
      </li>
      <li>
        <a class="dropdown-item" (click)="filterTransactionsByDays(60)">
          Last 60 Days
        </a>
      </li>
      <li>
        <a class="dropdown-item" (click)="filterTransactionsByDays(90)">
          Last 90 Days
        </a>
      </li>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 0.9rem">
            Sort by Custom Date
          </h5>

          <div class="custom-filter">
            <div
              class="form-group"
              style="font-size: 0.8rem; color: #687287; padding: 12"
            >
              <label
                class=""
                for="start-date"
                style="font-size: 0.8rem; color: indigo; padding: 12"
                >Start Date</label
              >
              <input
                style="font-size: 0.8rem; color: black; padding: 12"
                type="date"
                class="form-control"
                id="start-date"
                [(ngModel)]="startDate"
              />
            </div>
            <div class="form-group">
              <label
                for="end-date"
                style="font-size: 0.8rem; color: #687287; padding: 36"
                >End Date</label
              >
              <input
                style="font-size: 0.8rem; color: black; padding: 12"
                type="date"
                class="form-control"
                id="end-date"
                [(ngModel)]="endDate"
              />
            </div>
            <div
              class="col-sm-10 text-center"
              style="font-size: 0.8rem; padding-top: 24px"
            >
              <button
                style="font-size: 0.8rem; color: whitesmoke; padding: 12"
                class="btn btn-primary"
                (click)="filterTransactionsByCustomDate()"
              >
                Apply
              </button>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>

  <section class="section dashboard">
    <div class="col-lg-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
            <li class="nav-item flex-fill" role="presentation">
              <button
                class="nav-link w-100 active"
                id="home-tab"
                data-bs-toggle="tab"
                data-bs-target="#home-justified"
                type="button"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                (click)="_filterTransactions('All'); showTransactionType = true"
              >
                Pending
              </button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
              <button
                class="nav-link w-100"
                id="profile-tab"
                data-bs-toggle="tab"
                data-bs-target="#profile-justified"
                type="button"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                (click)="
                  _filterTransactions('deposit'); showTransactionType = false
                "
              >
               Completed
              </button>
            </li>
            <li class="nav-item flex-fill" role="presentation">
              <button
                class="nav-link w-100"
                id="contact-tab"
                data-bs-toggle="tab"
                data-bs-target="#contact-justified"
                type="button"
                role="tab"
                aria-controls="contact"
                aria-selected="false"
                (click)="
                  _filterTransactions('withdraw'); showTransactionType = false
                "
              >
                Rejected
              </button>
            </li>
          </ul>
          <div class="tab-content pt-2" id="myTabjustifiedContent">
            <div
              class="tab-pane fade show active"
              id="home-justified"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <div class="row">
                <div class="col-lg-0">
                  <div class="row">
                    <div class="col-xxl-8 col-md-5"></div>

                    <div class="col-12">
                      <div class="card recent-sales overflow-auto">
                        <div class="filter">
                          <a class="icon" href="#" data-bs-toggle="dropdown"
                            ><i class="bi bi-three-dots"></i
                          ></a>
                          <ul
                            class="dropdown-menu dropdown-menu-end dropdown-menu-arrow"
                          >
                            <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                            </li>
                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li>
                              <a class="dropdown-item" href="#">This Month</a>
                            </li>
                            <li>
                              <a class="dropdown-item" href="#">This Year</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                          <h5 class="card-title">Request Processing Updates</h5>
                          <table class="table table-borderless">
                            <thead>
                              <tr>
                                <th scope="col" >
                                  Date <i class="bi bi-chevron-expand"></i>
                                </th>
                                <th scope="col" >
                                  Customer <i class="bi bi-chevron-expand"></i>
                                </th>
                                <th scope="col">
                                  Drug <i class="bi bi-chevron-expand"></i>
                                </th>
                                <th scope="col" >
                                  Location <i class="bi bi-chevron-expand"></i>
                                </th>
                                <th scope="col">
                                  Delivery Type <i class="bi bi-chevron-expand"></i>
                                </th>
                                <th scope="col" >
                                  Amount <i class="bi bi-chevron-expand"></i>
                                </th>
                                <th scope="col" >
                                  Status <i class="bi bi-chevron-expand"></i>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let transact of requestUpdate let i = index" style="cursor: pointer;">
                                <td style="font-size: 12px; color: rgb(4, 25, 94)">
                                  {{
                                    transact.created_at
                                      | date : "d-MMMM-yyyy h:mm a"
                                  }}
                                </td>

                                <td  data-bs-toggle="tooltip" data-bs-placement="right" title="view customer transaction details">
                                  <a  class="text-primary">{{
                                    transact.firstName
                                  }}</a>
                                </td>
                                <td  data-bs-toggle="tooltip" data-bs-placement="right" title="view customer transaction details">
                                  <a  class="text-primary">{{
                                    transact.drug
                                  }}</a>
                                </td>
                                <td  data-bs-toggle="tooltip" data-bs-placement="right" title="view customer transaction details">
                                  <a  class="text-primary">{{
                                    transact.location
                                  }}</a>
                                </td>
                                <td  data-bs-toggle="tooltip" data-bs-placement="right" title="view customer transaction details">
                                  <a  class="text-primary">{{
                                    transact.delivery_type
                                  }}</a>
                                </td>
                               
                                <td>${{ transact.amount_net}}</td>
                                <td>
                                  <span
                          class="badge {{
                            transact.status === 'Pending'
                              ? 'status-verified'
                              : 'status-pending'
                          }}"
                        >
                          {{
                            transact.status === "Pending" ? "Completed" : "Pending"
                          }}
                        </span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
