<main id="main" class="main">
  <div class="pagetitle">
     <h1>MTL Licence</h1>
   
  </div>
  <section class="section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Use this setting to toggle license.</h5>
        
     
          <div class="row mb-3">
        
            <div class="col-form-label col-sm-2 pt-0">
              <div class="form-check">
               
                <label class="form-check-label">
                  MTL license state is currently set to <span  class="badge {{
                    mtlStateCheck ? 'status-verified' : 'status-invalid'
                  }}">{{mtlStateCheck}} </span>
                </label> <input
                class="form-check-input"
                type="checkbox"
                id="mtlStateCheck"
                [(ngModel)]="mtlStateCheck"
              />
              </div>
             
            </div>
          </div>
          
          <div class="row mb-3">
      
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary" (click)="onSubmit()">
                Update
              </button>
            </div>
          </div>
       
      </div>
    </div>
  </section>
</main>