<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
  </div>
  <section class="section dashboard">
    <div class="row">
      <!--Top element withdrawals,depost,kyc-->
      <div class="col-lg-8">
        <div class="row">
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"
                  ><i class="bi bi-three-dots"></i
                ></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>
                  <li (click)="switchToDayACH('today', 'deposit')">
                    <a class="dropdown-item">Today</a>
                  </li>
                  <li (click)="switchToDayACH('week', 'deposit')">
                    <a class="dropdown-item">This Week</a>
                  </li>
                  <li (click)="switchToDayACH('last2Weeks', 'deposit')">
                    <a class="dropdown-item">Last 2 Weeks</a>
                  </li>
                  <li (click)="switchToDayACH('month', 'deposit')">
                    <a class="dropdown-item">This Month</a>
                  </li>
                  <li (click)="switchToDayACH('last3Months', 'deposit')">
                    <a class="dropdown-item">Last 3 Months</a>
                  </li>
                  <li (click)="switchToDayACH('last6Months', 'deposit')">
                    <a class="dropdown-item">Last 6 Months</a>
                  </li>
                  <li (click)="switchToDayACH('past1Year', 'deposit')">
                    <a class="dropdown-item">Last 1 year</a>
                  </li>
                  <li (click)="switchToDayACH('all', 'deposit')">
                    <a class="dropdown-item">All</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  Purchase <span>| {{ periodD }}</span>
                </h5>
                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-currency-dollar"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ total_deposit }}</h6>
                    <!-- <span class="text-success small pt-1 fw-bold">12%</span>
                    <span class="text-muted small pt-2 ps-1">increase</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--withdrawal-->
          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card">
              <div class="filter">
                <a class="icon" data-bs-toggle="dropdown"
                  ><i class="bi bi-three-dots"></i
                ></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>
                  <li (click)="switchToDay('today')">
                    <a class="dropdown-item">Today</a>
                  </li>
                  <li (click)="switchToDay('week')">
                    <a class="dropdown-item">This Week</a>
                  </li>
                  <li (click)="switchToDay('last2Weeks')">
                    <a class="dropdown-item">Last 2 Weeks</a>
                  </li>
                  <li (click)="switchToDay('month')">
                    <a class="dropdown-item">This Month</a>
                  </li>
                  <li (click)="switchToDay('last3Months')">
                    <a class="dropdown-item">Last 3 Months</a>
                  </li>
                  <li (click)="switchToDay('last6Months')">
                    <a class="dropdown-item">Last 6 Months</a>
                  </li>
                  <li (click)="switchToDay('past1Year')">
                    <a class="dropdown-item">Last 1 year</a>
                  </li>
                  <li (click)="switchToDay('all')">
                    <a class="dropdown-item">All</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  Requests <span>| {{ period }}</span>
                </h5>
                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ request_count.toString() }}</h6>
                    <!-- <span class="text-danger small pt-1 fw-bold">12%</span>
          <span class="text-muted small pt-2 ps-1">decrease</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--kyc-->
          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card">
              <div class="filter">
                <a class="icon" data-bs-toggle="dropdown"
                  ><i class="bi bi-three-dots"></i
                ></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filter</h6>
                  </li>
                  <li (click)="switchToDay('today')">
                    <a class="dropdown-item">Today</a>
                  </li>
                  <li (click)="switchToDay('week')">
                    <a class="dropdown-item">This Week</a>
                  </li>
                  <li (click)="switchToDay('last2Weeks')">
                    <a class="dropdown-item">Last 2 Weeks</a>
                  </li>
                  <li (click)="switchToDay('month')">
                    <a class="dropdown-item">This Month</a>
                  </li>
                  <li (click)="switchToDay('last3Months')">
                    <a class="dropdown-item">Last 3 Months</a>
                  </li>
                  <li (click)="switchToDay('last6Months')">
                    <a class="dropdown-item">Last 6 Months</a>
                  </li>
                  <li (click)="switchToDay('past1Year')">
                    <a class="dropdown-item">Last 1 year</a>
                  </li>
                  <li (click)="switchToDay('all')">
                    <a class="dropdown-item">All</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  Verified Customers <span>| {{ period }}</span>
                </h5>
                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ user_count }}</h6>
                    <!-- <span class="text-danger small pt-1 fw-bold">12%</span>
                    <span class="text-muted small pt-2 ps-1">decrease</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!---Reports Graph-->
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Reports <span>/Today</span></h5>
                <div id="reportsChart"></div>
              </div>
            </div>
          </div>

         
        </div>
      </div>

      <div class="col-lg-4">
        <!---Recent Activity-->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Recent Activity <span>| Today</span></h5>
            <div class="activity scrollable-list">
              <div class="scrollable-list">
                <div
                  class="activity-item d-flex"
                  *ngFor="let item of requestUpdate"
                >
                  <div class="activite-label">
                    {{ item.created_at | date : "d-M-yyyy h:mm a " }}
                    - -
                  </div>
                  <i
                    class="bi bi-circle-fill activity-badge"
                    [ngClass]="{
                      'text-success': item.status === 'completed',
                      'text-danger': item.status === 'pending'
                    }"
                  ></i>
                  <div class="activity-content">
                    {{ item.name }}  {{ item.surname }} needs  {{ item.items.length }} drugs of #{{
                      item.price
                    }} worth
                  </div>
                </div>
              </div>
            </div>
            <!-- Display this text if requestUpdate is empty -->
            <div *ngIf="requestUpdate.length === 0" class="text-center flex flex-col">
              <img src="assets/img/request.png" alt="" />
             <p>No new request.</p> 
            </div>
          </div>
        </div>
        <!---Budget Report-->
        <div class="card">
          <div class="card-body pb-0">
            <h5 class="card-title">Budget Report <span>| This Month</span></h5>
            <div
              id="budgetChart"
              style="min-height: 400px"
              class="echart"
            ></div>
          </div>
        </div>
        <!---Website Traffic-->
        <div class="card">
          <div class="card-body pb-0">
            <h5 class="card-title">Cashflow</h5>
            <div
              id="trafficChart"
              style="min-height: 400px"
              class="echart"
            ></div>
          </div>
        </div>
        <!---News Activity-->
        <!-- <div class="card">
         
          <div class="card-body pb-0">
            <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>
            <div class="news">
              <div class="post-item clearfix">
                <img src="assets/img/news-1.jpg" alt="" />
                <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
                <p>
                  Sit recusandae non aspernatur laboriosam. Quia enim eligendi
                  sed ut harum...
                </p>
              </div>
              <div class="post-item clearfix">
                <img src="assets/img/news-2.jpg" alt="" />
                <h4><a routerLink="/admin/achTransactions">Quidem autem et impedit</a></h4>
                <p>
                  Illo nemo neque maiores vitae officiis cum eum turos elan
                  dries werona nande...
                </p>
              </div>
              <div class="post-item clearfix">
                <img src="assets/img/news-3.jpg" alt="" />
                <h4>
                  <a href="#">Id quia et et ut maxime similique occaecati ut</a>
                </h4>
                <p>
                  Fugiat voluptas vero eaque accusantium eos. Consequuntur sed
                  ipsam et totam...
                </p>
              </div>
              <div class="post-item clearfix">
                <img src="assets/img/news-4.jpg" alt="" />
                <h4><a href="#">Laborum corporis quo dara net para</a></h4>
                <p>
                  Qui enim quia optio. Eligendi aut asperiores enim
                  repellendusvel rerum cuder...
                </p>
              </div>
              <div class="post-item clearfix">
                <img src="assets/img/news-5.jpg" alt="" />
                <h4>
                  <a href="#">Et dolores corrupti quae illo quod dolor</a>
                </h4>
                <p>
                  Odit ut eveniet modi reiciendis. Atque cupiditate libero
                  beatae dignissimos eius...
                </p>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
</main>
