<main id="main" class="main">
  <div class="pagetitle">
    <h1>User Details</h1>
    <nav>
      <ol style="cursor: pointer" class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/admin/customers">Customer</a></li>
        <li class="breadcrumb-item active">
          {{ userInfo.firstName}}
          {{ userInfo.lastName }}
        </li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-6">
     
        <div
        class=" pt-4 d-flex flex-column align-items-center"
      >
        <!-- Display image, or a placeholder image if imageUrl is null -->
        <img
        [src]="pickedUser.imageurl ? pickedUser.imageurl : '/assets/img/admin.png'"
        class="img"
      />
      
        <div>...</div>

       
     
      </div>
     
   </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <form
              [formGroup]="updateDrugForm"
              class="needs-validation"
              (ngSubmit)="update()"
            >
              <!---Name-->
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label"
                  >ID</label
                >
                <div class="col-md-6">
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Update User ID"
                      aria-label="name"
                      formControlName="Drugid"
                      aria-describedby="basic-addon2"
                    />
                  </div>
                </div>
              </div>
              <!---Name-->
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label"
                  >First Name</label
                >
                <div class="col-md-6">
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Update First Name"
                      aria-label="name"
                      formControlName="Drugprice"
                      aria-describedby="basic-addon2"
                    />
                  </div>
                </div>
              </div>
              <!---Name-->
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label"
                  >Last Name</label
                >
                <div class="col-md-6">
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Update Last Name"
                      aria-label="name"
                      formControlName="Drugname"
                      aria-describedby="basic-addon2"
                    />
                  </div>
                </div>
              </div>
              <!---SurName-->
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label"
                  >Company Name</label
                >
                <div class="col-md-6">
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter last name"
                      aria-label="lastName"
                      formControlName="Drugcompanyname"
                      aria-describedby="basic-addon2"
                    />
                  </div>
                </div>
              </div>

            
              <h5 class="card-title">.</h5>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">.</label>
                <div class="col-sm-10">
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>
                    <button type="reset" class="btn btn-secondary">
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    
    </div>
  </section>
</main>
