<main id="main" class="main">
  <div class="pagetitle">
    <h1>Pharmacy Details</h1>
    <nav>
      <ol style="cursor: pointer" class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/admin/pharmacies">Pharmacy List</a></li>
        <li class="breadcrumb-item active">
          {{ pharmInfo.name.toLowerCase() }}
          {{ pharmInfo.state.toLowerCase() }}
        </li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-6">
     
        <div
        class=" pt-4 d-flex flex-column align-items-center"
      >
        <!-- Display image, or a placeholder image if imageUrl is null -->
        <img
        [src]="pickedPharm.imageurl ? pickedPharm.imageurl : '/assets/img/admin.png'"
        class="img"
      />
      
        <div>...</div>

       
     
      </div>
     
   </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <form
              [formGroup]="updatePharmForm"
              class="needs-validation"
              (ngSubmit)="update()"
            >
              <!---Name-->
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label"
                  >ID</label
                >
                <div class="col-md-6">
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Update drug ID"
                      aria-label="name"
                      formControlName="pharmId"
                      aria-describedby="basic-addon2"
                    />
                  </div>
                </div>
              </div>
              <!---Name-->
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label"
                  >Name</label
                >
                <div class="col-md-6">
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Update pharmacy name"
                      aria-label="name"
                      formControlName="pharmName"
                      aria-describedby="basic-addon2"
                    />
                  </div>
                </div>
              </div>
              <!---Name-->
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label"
                  >Address</label
                >
                <div class="col-md-6">
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Update pharmacy address"
                      aria-label="address"
                      formControlName="pharmAddress"
                      aria-describedby="basic-addon2"
                    />
                  </div>
                </div>
              </div>
              <!---SurName-->
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label"
                  >City</label
                >
                <div class="col-md-6">
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Update pharmacy city"
                      aria-label="city"
                      formControlName="pharmCity"
                      aria-describedby="basic-addon2"
                    />
                  </div>
                </div>
              </div>

              <!---SurName-->
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label"
                  >State</label
                >
                <div class="col-md-6">
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter last name"
                      aria-label="state"
                      formControlName="pharmState"
                      aria-describedby="basic-addon2"
                    />
                  </div>
                </div>
              </div>
            
              <h5 class="card-title">.</h5>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">.</label>
                <div class="col-sm-10">
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>
                    <button type="delete"  (click)="deleteProduct()" class="btn btn-secondary">
                      Delete
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    
    </div>
  </section>
</main>
